body {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  color: green;
  font-size: 40px;
  text-decoration: underline dotted green 10px;
}
#container {
  width: 80vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  border: 20px ridge green;
  /* margin: 6vh; */
}
#catchMe {
  position: relative;
  width: 120px;
  height: 100px;
  top: 10px;
  left: 50px;
  background: radial-gradient(rgb(20, 204, 75) 10%, green);
  text-align: center;
  line-height: 90px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}
